/*
** Toast CSS Framework - 1.1
** Dan Eden wrote this - @dan_eden - http://daneden.me/
** Inspired by and based on Andy Taylor's CSS Grid - http://cssgrid.net/
**
** ----------------------------------------------------------------------------------------------------------------------------
**
** Welcome, young warrior! BE WARY - This framework is delicate, and will fall on your head if you change things too much.
** Things you can probably change safely are the max-width of .row, the padding of the container, and... well. That's about it.
*/

/* import stylesheets and hide from IE/Mac (courtesy of Dan Cederholm - http://simplebits.com) \*/
@import url("reset.css");
@import url("ie.css");
@import url("type.css"); /* this is optional - it sets some default typography for your site, for beautiful vertical rhythm. Set at 16px (1em) with 24px line-height (1.5em) */
/* end import/hide */

.container { /* This stops your content from getting crumbs on the side of the window */
	padding: 0 20px;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
	overflow: hidden;
	min-width: 755px;
}

.smallscreen .row { /* If you'd like to keep your toast thinly sliced, add a smallscreen class to the container */
	max-width: 940px;
}

.onecol, .twocol, .threecol,
.fourcol, .fivecol, .sixcol,
.sevencol, .eightcol, .ninecol,
.tencol, .elevencol, .twelvecol {
	display: inline;
	margin-right: 3.8%;
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.pushone, .pullone, .pushtwo, .pulltwo,
.pushthree, .pullthree, .pushfour, .pullfour,
.pushfive, .pullfive, .pushsix, .pullsix,
.pushseven, .pullseven, .pusheight, .pulleight,
.pushnine, .pullnine, .pushten, .pullten,
.pusheleven, .pulleleven, .pushtwelve, .pulltwelve {
	position: relative;
}

/* I didn't calculate these widths, Andy Taylor of http://cssgrid.net/ did. You should thank him! */

.onecol { width: 4.85%; }
.twocol { width: 13.45%; }
.threecol { width: 22.13%; }
.fourcol { width: 30.75%; }
.fivecol { width: 39.45%; }
.sixcol { width: 48%; }
.sevencol { width: 56.75%; }
.eightcol { width: 65.4%; }
.ninecol { width: 74.05%; }
.tencol { width: 82.7%; }
.elevencol { width: 91.35%; }
.twelvecol { width: 100%; }

.pushone { left: 4.85%; }
.pushtwo { left: 13.45%; }
.pushthree { left: 22.13%; }
.pushfour { left: 30.75%; }
.pushfive { left: 39.45%; }
.pushsix { left: 48%; }
.pushseven { left: 56.75%; }
.pusheight { left: 65.4%; }
.pushnine { left: 74.05%; }
.pushten { left: 82.7%; }
.pusheleven { left: 91.35%; }
.pushtwelve { left: 100%; }

.pullone { left: -4.85%; }
.pulltwo { left: -13.45%; }
.pullthree { left: -22.13%; }
.pullfour { left: -30.75%; }
.pullfive { left: -39.45%; }
.pullsix { left: -48%; }
.pullseven { left: -56.75%; }
.pulleight { left: -65.4%; }
.pullnine { left: -74.05%; }
.pullten { left: -82.7%; }
.pulleleven { left: -91.35%; }
.pulltwelve { left: -100%; }

/* People seem to avoid frameworks because of trouble with 'real' blocks - this will help! */
/* why 1%? It's big, but not too big. 12px at full width. */

.box { padding: .75em; } /* the .75em on top & bottom retains the baseline grid */
.box { padding: .75em .951%  !ie; } /* crummy IE */

.onecol.box { width: 3% !ie; }
.twocol.box { width: 11.6% !ie; }
.threecol.box { width: 20.18% !ie; }
.fourcol.box { width: 28.9% !ie; }
.fivecol.box { width: 37.42% !ie; }
.sixcol.box { width: 46.15% !ie; }
.sevencol.box { width: 54.9% !ie; }
.eightcol.box { width: 63.35% !ie; }
.ninecol.box { width: 72.1% !ie; }
.tencol.box { width: 80.77% !ie; }
.elevencol.box { width: 89.3% !ie; }
.twelvecol.box { width: 99% !ie; }

img, object, embed, video { max-width: 100%; }
img { height: auto; }

/* Here's where it gets good. Remember .last? That's gone. Remember the clearfix? NOT UP IN HERE! */

.row :last-child {
	margin-right: 0;
}

.row:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* media queries for mobile, tablet, and small screen friendly websites */

@media screen and (max-width:960px) {
	html, body {
		font-size: 90%; /* tiny fonts for tiny screens */
	}
}

@media screen and (max-width:775px) {
	.respond .row {
		width: auto;
		min-width: 0;
	}
	
	.respond .onecol, .respond .twocol, .respond .threecol, 
	.respond .fourcol, .respond .fivecol, .respond .sixcol, 
	.respond .sevencol, .respond .eightcol, .respond .ninecol, 
	.respond .tencol, .respond .elevencol, .respond .twelvecol {
		width: 100%;
		margin-right: 0;
	}
}