/* Toast CSS framework by Dan Eden - @dan_eden - http://daneden.me
/* The style.css file is kept in the root to make image linking easy, and so it's ready for WordPress
/* What are you waiting for? Get Styling! */